*{
  
    background-color: #3A98B9;
    color: white;
    font-family: 'Kanit', sans-serif;
   
 }
 
 h1{
   
    font-size: 150px;
    width: 40%;
    position: fixed;
    left: 100px;
    top: 20%;
    z-index: 1;
    background: none;
 }
 
 h2{
   
    font-size: 75px;
    text-align: right;
    margin-bottom: 0px;
    
 }

#contactinfo{
    text-align: left;
    font-size: 25px;
    width: 50%;
    position: fixed;
    left: 100px;
    top: 68%;
    z-index: 1;
    background: none;
    letter-spacing: 8px;
}
 
 .subtext{
   
    position: absolute;
    
    top: 35%;
    right: 15px;
    width: 60%;
    
 }
   
 ul{
   
   text-align: right;
   list-style-type: none;
   font-size: 30px;
   margin-top: 5px;
   line-height: 200%;
   
 }
 
 strong{
   
   color: yellow;
   font-size: 40px;
   
 }
