* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #3A98B9;
    color: white;
    font-family: 'Kanit', sans-serif;
  }

  .container{

    opacity: 0;
    transition: all 1s;
    height: fit-content;
    margin: auto;

  }

  .show{

    opacity: 1;

  }
  
  h1 {
    position: sticky;
    top: 0;
    font-size: 7.5vw;
    width: 50vw;
    left: 5vw;
    background: none;
  }
  
  #tag{
    position: sticky;
    top: 0;
    right: 0;
    font-size: 4vw;
    text-align: right;
    margin-bottom: 15px;
    background-color: #3A98B9;
  }
  
  #contactinfo {
    text-align: left;
    font-size: 2.5vw;
    width: 40%;
    position: absolute;
    top: 155px;
    z-index: 1;
    background: none;
    letter-spacing: 0.5vw;
  }
  
  .subtext {
    position: absolute;
    top: 0vh;
    right: 5px;
    width: 55%;
  }

  .column{

    width: 40%;
    height: 100vh;
    
  }
  
  ul {
    text-align: right;
    list-style-type: none;
    font-size: 2vw;
    margin-top: 0.5vh;
    line-height: 200%;
  }
  
  strong {
    color: yellow;
    font-size: 2vw;
  }
  
 
  
